@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #a1c3ff;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
  }
  
  .navbar .logo {
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: lightblue;
  }
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

ul.nav{
    display: flex;
}
ul.nav li{
    margin-left: 20px;
}
.header {
    background-color: #0151cc;
    color: #fff;
    min-height: 400px;
  }
.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
  }
  
  .header img {
    max-width: 400px;
  }
  .header .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .boxes .container{
      display: flex;
      justify-content: space-between;
  }
  .box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .box:nth-of-type(2){
      /* flex-grow: 2; */
  }
  .box i {
    margin-right: 10px;
  }

  @media(max-width: 768px) {
    .header .container{
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
    }
    .boxes .container{
        flex-direction: column;
        text-align: center;
    }
    /* .boxes .container {
        display: block;
        text-align: center;
    } */
  }